.header{
    background-color: aliceblue;
    padding: 15px;
}
.header img{
    height: 50px;
}
.header a{
    padding: 0 20px;
    font-size: 23px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}